gov.nasa.jpl.imce.ontologies/ontologies/.production
gov.nasa.jpl.imce.ontologies/ontologies/.staging
gov.nasa.jpl.imce.ontologies/ontologies/.dependencies
gov.nasa.jpl.imce.ontologies/ontologies/.ontology-bundles-serialized
gov.nasa.jpl.imce.ontologies/ontologies/.ontology-groups-serialized
gov.nasa.jpl.imce.ontologies/ontologies/.ontology-parts-serialized
gov.nasa.jpl.imce.ontologies/ontologies/.prefixes.yaml
gov.nasa.jpl.imce.ontologies/ontologies/.validation-dependencies
gov.nasa.jpl.imce.ontologies/ontologies/archive
gov.nasa.jpl.imce.ontologies/ontologies/imce.local.catalog.xml
gov.nasa.jpl.imce.ontologies/ontologies/location-mapping.yaml
gov.nasa.jpl.imce.ontologies/ontologies/Makefile
gov.nasa.jpl.imce.ontologies/ontologies/.ontology-bundles-serialized
gov.nasa.jpl.imce.ontologies/ontologies/artifacts
gov.nasa.jpl.imce.ontologies/ontologies/tests
gov.nasa.jpl.imce.ontologies/ontologies/.dependencies
gov.nasa.jpl.imce.ontologies/documents/artifacts/discipline
gov.nasa.jpl.imce.ontologies/documents/artifacts/foundation
gov.nasa.jpl.imce.ontologies/documents/artifacts/inactive
gov.nasa.jpl.imce.ontologies/documents/artifacts/summary
gov.nasa.jpl.imce.ontologies/documents/artifacts
gov.nasa.jpl.imce.ontologies/documents/Makefile
gov.nasa.jpl.imce.ontologies/documents/Makefile
gov.nasa.jpl.imce.ontologies/ontologies/analyze-embedding.svg
gov.nasa.jpl.imce.ontologies/ontologies/analyze-embedding.svg
gov.nasa.jpl.imce.ontologies/documents/tests/validate.xml
.idea
.DS_Store
local.*
target
project/project
project/target
gh-pages
converted-owl
**/*.log
**/metastore_db
**/*~

# From Eclipse.gitignore
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
